<p>
    <strong>Equipment:</strong>
    <%= @observation.equipment %>
</p>

<p>
    <strong>Down:</strong>
    <%= @observation.down %>
</p>

<p>
    <strong>Ready:</strong>
    <%= @observation.ready %>
</p>

<%= link_to 'Edit', edit_observation_path(@observation) %>
|
<%= link_to 'Back', observations_path %>
