<%= form_for(@group_id) do |f| %>
  <% if @group_id.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_id.errors.count, "error") %> prohibited this group_id from being saved:</h2>

      <ul>
      <% @group_id.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
