<%= form_for(@vehicle) do |f| %>
<% if @vehicle.errors.any? %>
<div id="error_explanation">
    <h2>No se pudo crear el vehiculo por los siguiente:</h2>

    <ul>
        <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="form-group">
    <%= f.label :reference, "Referencia" %><br>
    <%= f.text_field :reference , placeholder:"Referencia",class:"form-control"%>
</div>
<div class="actions">
    <%= f.submit locals[:button_text], class:"btn btn-primary"%>
</div>
<% end %>
