<h1>Lista de Vehiculos</h1>

<%= link_to '<i class="fa fa-plus"></i> Nuevo vehiculo'.html_safe, new_vehicle_path, :class => "btn btn-primary" if current_user.is_admin? %>
<br></br>

<table class="table table-bordered" id="vehiclesList">
    <thead>
        <tr>
            <th>Referencia</th>
            <th>Estado actual</th>
            <th>Ubicacion actual</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        <% @vehicles.each do |vehicle| %>
        <tr>
            <td><%= vehicle.reference %></td>
            <td class="<%= vehicle.current_status %>">
                <center><%= vehicle.current_status %></center>
            </td>
            <td><%= vehicle.vehicle_statuses.last.location unless vehicle.vehicle_statuses.empty? %></td>
            <td>
                <div class="">
                    <%= link_to '<i class="fa fa-eye"></i> Ver'.html_safe, vehicle_path(vehicle), :class => "btn btn-info" %>
                    <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_vehicle_path(vehicle), :class => "btn btn-warning" if current_user.is_admin? %>
                </div>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<script type="text/javascript">

    var asd = '<i class="fa fa-sort-amount-asc" aria-hidden="true"></i>';
    var des = '<i class="fa fa-sort-amount-desc" aria-hidden="true"></i>';
    var sort = '<i class="fa fa-sort" aria-hidden="true"></i>';
    var tableId = "#vehiclesList";

    function setOrderIcon(th) {
        var i = th.indexOf(">");
        var text = th.substring(i + 1, th.length);
        text = text.replace("</th>", "");
        text = text.includes(asd)
            ? (text.replace(asd, "").replace(sort, "") + "   " + des)
            : (text.replace(des, "").replace(sort, "") + "   " + asd);
        return text
    }

    function setDefaultIcon(th) {
        return getText(th) + "   " + sort;
    }

    function getText(th) {
        return th.substring(th.indexOf(">") + 1, th.length).replace("</th>", "").replace(asd, "").replace(des, "").replace(sort, "");
    }

    $(document).ready(function () {

        $(tableId).DataTable();
        $("th").on('click', function () {
            var th = $(this).get(0).outerHTML;
            $(tableId + ' th').each(function () {
                var tht = $(this).get(0).outerHTML;
                $(this).html("");
                $(this).append(setDefaultIcon(tht));
            });
            $(this).html("");
            $(this).append(setOrderIcon(th));
        });
    });
</script>
