<p>
    <strong>Vehiculo #:</strong>
    <%= @vehicle.reference %>
</p>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Historico</div>
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Ubicacion</th>
            </tr>
        </thead>
        <tbody>
            <% @vehicles_statuses.each do |vs| %>
            <tr>
                <td><%= vs.report.date %></td>
                <td class="<%= vs.status %>">
                    <center><%= vs.status %></center>
                </td>
                <td><%= vs.location %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>

<%= link_to 'Editar', edit_vehicle_path(@vehicle) if current_user.is_admin?%>
|
<%= link_to 'Volver', vehicles_path %>
