<p>
    <strong>Vehiculo #:</strong>
    <%= @vehicle.reference %>
</p>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Historico</div>
    <table class="table" id="vehicleHistoric">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Ubicacion</th>
            </tr>
        </thead>
        <tbody>
            <% @vehicles_statuses.each do |vs| %>
            <tr>
                <td><%= vs.report.date %></td>
                <td class="<%= vs.status %>">
                    <center><%= vs.status %></center>
                </td>
                <td><%= vs.location %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>

<%= link_to 'Editar', edit_vehicle_path(@vehicle) if current_user.is_admin?%>
|
<%= link_to 'Volver', vehicles_path %>

<script type="text/javascript">

    var asd = '<i class="fa fa-sort-amount-asc" aria-hidden="true"></i>';
    var des = '<i class="fa fa-sort-amount-desc" aria-hidden="true"></i>';
    var sort = '<i class="fa fa-sort" aria-hidden="true"></i>';
    var tableId = "#vehicleHistoric";

    function setOrderIcon(th) {
        var i = th.indexOf(">");
        var text = th.substring(i + 1, th.length);
        text = text.replace("</th>", "");
        text = text.includes(asd)
            ? (text.replace(asd, "").replace(sort, "") + "   " + des)
            : (text.replace(des, "").replace(sort, "") + "   " + asd);
        return text
    }

    function setDefaultIcon(th) {
        return getText(th) + "   " + sort;
    }

    function getText(th) {
        return th.substring(th.indexOf(">") + 1, th.length).replace("</th>", "").replace(asd, "").replace(des, "").replace(sort, "");
    }

    $(document).ready(function () {

        $(tableId).DataTable();
        $("th").on('click', function () {
            var th = $(this).get(0).outerHTML;
            $(tableId + ' th').each(function () {
                var tht = $(this).get(0).outerHTML;
                $(this).html("");
                $(this).append(setDefaultIcon(tht));
            });
            $(this).html("");
            $(this).append(setOrderIcon(th));
        });
    });
</script>