<h1>Lista de reportes</h1>
<br>
<%= link_to '<i class="fa fa-plus"></i> Nuevo reporte'.html_safe, new_report_path, :class => "btn btn-primary" %>
<br>

<h3>Mis reportes</h3>

<% unless @my_reports.empty? %>
<table class="table table-striped table-bordered" id="myReportsTable">
    <thead>
        <tr>
            <th>Turno</th>
            <th>Fecha</th>
            <th>Grupo</th>
            <th>Sup. Senior</th>
            <th>Sup. Junior</th>
            <th>Opciones</th>
        </tr>
    </thead>

    <tbody>
        <% @my_reports.each do |report| %>
        <tr>
            <td><%= report.shift %></td>
            <td><%= report.date %></td>
            <td><%= report.group.group_id.name %></td>
            <td><%= report.senior.first_name + " " + report.senior.last_name unless report.senior.nil? %></td>
            <td><%= report.junior.first_name + " " + report.junior.last_name unless report.junior.nil? %></td>
            <td>
                <div class="">
                    <%= link_to '<i class="fa fa-eye"></i> Ver'.html_safe, report, :class => "btn btn-primary" %>
                    <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_report_path(report), :class => "btn btn-warning" %>
                    <%= link_to '<i class="fa fa-pencil"></i> Descargar'.html_safe, report_path(report, format:"pdf"), :class => "btn btn-success" %>
                </div>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<% else %>
<center>
    <strong>No has creado ningun reporte todavia</strong>
</center>
<% end %>

<br>

<h3>Todos los reportes</h3>

<% unless @reports.empty? %>
<table class="table table-striped table-bordered" id="reportsTable">
    <thead>
        <tr>
            <th>Turno</th>
            <th>Fecha</th>
            <th>Grupo</th>
            <th>Sup. Senior</th>
            <th>Sup. Junior</th>
            <th>Opciones</th>
        </tr>
    </thead>

    <tbody>
        <% @reports.each do |report| %>
        <tr>
            <td><%= report.shift %></td>
            <td><%= report.date %></td>
            <td><%= report.group.group_id.name %></td>
            <td><%= report.senior.first_name + " " + report.senior.last_name unless report.senior.nil? %></td>
            <td><%= report.junior.first_name + " " + report.junior.last_name unless report.junior.nil? %></td>
            <td>
                <div class="">
                    <%= link_to '<i class="fa fa-eye"></i> Ver'.html_safe, report, :class => "btn btn-primary" %>
                    <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_report_path(report), :class => "btn btn-warning" %>
                    <%= link_to '<i class="fa fa-pencil"></i> Descargar'.html_safe, report_path(report, format:"pdf"), :class => "btn btn-success" %>
                </div>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<% else %>
<center>
    <strong>No exite ningun reporte</strong>
</center>
<% end %>

<br>

<script type="text/javascript">

    var asd = '<i class="fa fa-sort-amount-asc" aria-hidden="true"></i>';
    var des = '<i class="fa fa-sort-amount-desc" aria-hidden="true"></i>';
    var sort = '<i class="fa fa-sort" aria-hidden="true"></i>';
    var tableId = "#myReportsTable";

    function setOrderIcon(th) {
        var i = th.indexOf(">");
        var text = th.substring(i + 1, th.length);
        text = text.replace("</th>", "");
        text = text.includes(asd)
            ? (text.replace(asd, "").replace(sort, "") + "   " + des)
            : (text.replace(des, "").replace(sort, "") + "   " + asd);
        return text;
    }

    function setDefaultIcon(th) {
        return getText(th) + "   " + sort;
    }

    function getText(th) {
        return th.substring(th.indexOf(">") + 1, th.length).replace("</th>", "").replace(asd, "").replace(des, "").replace(sort, "");
    }

    $(document).ready(function () {

        $(tableId).DataTable();
        $("#reportsTable").DataTable();
        $("th").on('click', function () {
            var th = $(this).get(0).outerHTML;
            $(tableId + ' th').each(function () {
                var tht = $(this).get(0).outerHTML;
                $(this).html("");
                $(this).append(setDefaultIcon(tht));
            });
            $(this).html("");
            $(this).append(setOrderIcon(th));
        });
    });
</script>
